@model Tiers.BLL.ModelVM.Department.CreateDepartmentVM

@{
    ViewData["Title"] = "Create Department";
}

<h2>Create Department</h2>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CreatedBy" class="control-label">Created By</label>
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

